@import "../../../variables.scss";

.storyRules {
  padding: 1vw;
  background-color: $primaryColor;
  color: $secondaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__playButton {
    width: 15vw;
    font-size: 2rem;
    border-color: $secondaryColor;
    background-color: $secondaryColor;
    height: 5rem;
    border-radius: 20px;
    align-items: center;
    color: $primaryColor;
  }
}
