@import "../../../variables.scss";

.storyRules {
  padding: 1vw;
  background-color: $primaryColor;
  color: $secondaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  font-size: 1.1rem;

  &__playButton {
    width: 15vw;
    font-size: 2vw;
    border-color: $secondaryColor;
    background-color: $secondaryColor;
    height: 3.5vw;
    text-align: center;
    line-height: 3.5vw;
    border-radius: 20px;
    text-decoration: none;
    color: $primaryColor;
    padding-top: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
  }
}

.scenarioTitle {
  text-align: center;
  font-size: 1.5rem;
}

.rulesTitle {
  text-align: center;
  font-size: 1.5rem;
}
