@import "../../../../variables.scss";

.objectivesPopUp {
  opacity: 0;
  position: absolute;
  left: 30%;
  top: 25%;
  background-color: $secondaryColor;
  border: 5px solid $optionalColor;
  color: $primaryColor;
  width: 50%;
  height: 50%;
  text-align: center;
  margin: 0 auto;
  transition: opacity 0.3s;

  &__closeButton {
    margin: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-200%);
  }

  &__show {
    border: 10px solid $thirdColor;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: $primaryColor;
    opacity: 1;
    z-index: 1;
  }
}

.objectivesPopUp {
  background-image: url(../../../../assets/pictures/ComponentsPics/noteBookBackground.jpg);
}

.noteBook {
  width: 10vw;
}

.objButton {
  border: 0;
  margin: 0;
  padding: 0;
  all: unset;
}

.objectivesPopUp__closeButton {
  background-color: $secondaryColor;
  border: 2px solid $primaryColor;
  color: $primaryColor;
}
