@import "../../variables.scss";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.CloseButtonAboutUs {
  position: absolute;
  left: 0;
  margin-top: 2vw;
  border-radius: 200px;
  border: 3px solid $primaryColor;
  background-color: $secondaryColor;
  height: 3.5vw;
  width: 4vw;
  align-items: center;
  color: $primaryColor;
  font-size: 2vw;
  margin-left: 2vw;
  top: 0;
  cursor: pointer;
}
