@import "../../../variables.scss";

hr {
  border: solid 2px black;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border-right: solid 5px #2b160f;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jurassicCharacter {
  width: 10vw;
}

.bag {
  width: 10vw;
}

.noteBook {
  width: 10vw;
}

.gameMenuButton {
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.closeButton {
  position: absolute;
}

@media screen and (min-width: 940px) {
  .closeButton {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .jurassicCharacter {
    width: 15vw;
  }

  .bag {
    width: 12vw;
  }

  .noteBook {
    width: 12vw;
  }
}

.closeButton {
  position: absolute;
  right: 0;
  margin-top: 20px;
  border-radius: 200px;
  border: 3px solid $primaryColor;
  background-color: $secondaryColor;
  height: 2rem;
  width: 2rem;
  align-items: center;
  color: $primaryColor;
  font-size: 1rem;
  margin-right: 2rem;
  top: 0;
}
