@import "../../../variables.scss";

hr {
  border: solid 2px black;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border-right: solid 5px #2b160f;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jurassicCharacter {
  width: 10vw;
}

.bag {
  width: 10vw;
}

.noteBook {
  width: 10vw;
}

.gameMenuButton {
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.closeNav {
  position: absolute;
  border: 2.5px solid $primaryColor;
  background-color: $secondaryColor;
  border-radius: 200px;
  color: white;
  width: 3vw;
  font-size: 1.5vw;
  height: 3vw;
  margin-top: 0.5vw;
  left: 15%;
  top: 50%;
}

@media screen and (min-width: 940px) {
  .closeNav {
    display: none;
  }
}

@media screen and (min-width: 660px) {
  .jurassicCharacter {
    width: 15vw;
  }

  .bag {
    width: 12vw;
  }

  .noteBook {
    width: 12vw;
  }
}

.hiddenbutton {
  position: absolute;
  left: 0;
  border-radius: 200px;
  border: 2.5px solid $primaryColor;
  background-color: $secondaryColor;
  color: $primaryColor;
  height: 3vw;
  width: 3vw;
  font-size: 1.5vw;
  top: 50%;
}
