.homePageElements {
  &__mainCharacter {
    width: 0vw;
  }

  section {
    margin-top: 2%;
  }

  .rulesTitle {
    font-size: small;
  }

  h2 {
    font-size: medium;
  }

  &__playButton {
    position: absolute;
    top: 75%;
    right: 16%;
  }
}

@media screen and (min-width: 700px) {
  .homePageElements {
    display: flex;
    justify-content: space-around;

    &__mainCharacter {
      width: 50vw;
      height: 85vh;
      margin-left: 2vw;
    }

    &__playButton {
      position: absolute;
      top: 75%;
      right: 16%;
    }

    section {
      margin-top: 1%;
    }

    p {
      font-size: 1.4rem;
      text-align: start;
    }
  }
}
