.homePageElements {
  &__mainCharacter {
    width: 0vw;
  }

  section {
    margin-top: 2%;
  }

  h2 {
    font-size: medium;
  }

  &__playButton {
    position: absolute;
    top: 75%;
    right: 16%;
  }
}

@media screen and (min-width: 700px) {
  .homePageElements {
    display: flex;
    justify-content: space-around;

    &__mainCharacter {
      width: 50vw;
      height: 85vh;
      margin-left: 2vw;
    }

    section {
      margin-top: 0;
    }
    h2 {
      margin-top: 2vh;
      font-size: 1.4rem;
    }
    p {
      font-size: 0.6rem;
      text-align: start;
      margin-inline: 3vw;
    }
  }
}

@media screen and (min-width: 1000px) {
  .homePageElements {
    display: flex;
    justify-content: space-around;

    &__mainCharacter {
      width: 50vw;
      height: 85vh;
      margin-left: 2vw;
    }

    section {
      margin-top: 1%;
    }

    p {
      font-size: 1rem;
      text-align: start;
      margin-inline: 3vw;
    }
  }
}
