.eggClassButton {
  all: unset;
  position: absolute;
  top: 55%;
  left: 15%;
  z-index: 1;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.toothClassButton {
  all: unset;
  position: absolute;
  top: 45%;
  left: 6%;
  z-index: 1;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}
.toothClass {
  width: 3vw;
  transform: rotate(0.5rad);
}

.tRexPopUp {
  width: 20vw;
  margin-left: 2vw;
  margin-top: 1vh;
}

.quetzalcoatlusPopUp {
  all: unset;
  width: 22vw;
}

.eggClass {
  width: 3vw;
  transform: rotate(-0.3rad);
}

.quetzalcoatlus {
  width: 9vw;
  position: absolute;
  top: 20%;
  left: 42%;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.t-rex {
  width: 20vw;
  position: absolute;
  top: 45%;
  left: 60%;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}
