@import "../../../variables.scss";
.message {
  position: absolute;
  background-color: $primaryColor;
  border: 2px solid $secondaryColor;
  border-radius: 50px;
  width: 50vw;
  height: 60vh;
  top: 20%;
  left: 33%;
  z-index: 1;
  h2 {
    font-size: 2vw;
    margin-top: 13vh;
    margin-left: 4vw;
  }
  p {
    margin-top: 3vh;
    font-size: 0.7vw;
  }
}

.popUpHeader {
  display: flex;
}

.name {
  padding: 2rem 1rem 1rem 1rem;
  font-size: 1.5vw;
}

.close {
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: $secondaryColor;
  border: 2px solid $primaryColor;
  color: $primaryColor;
  cursor: pointer;
}

.targetButton {
  all: unset;
}

.brain {
  width: 4vw;
  height: 8vh;
}

.info {
  flex: 1;
  border-left: 0.125rem solid $secondaryColor;
  border-right: 0.125rem solid $secondaryColor;
  height: 80%;
  margin-top: 0;
  margin-right: 1.2rem;
  margin-left: 0.6rem;
  padding-left: 0.3rem;
}

@media screen and (min-width: 600px) {
  .message {
    p {
      font-size: 0.9vw;
    }
  }
}

@media screen and (min-width: 1000px) {
  .message {
    p {
      font-size: 1.2vw;
    }
  }
}
