@import "../../../variables.scss";
.message {
  position: absolute;
  background-color: $primaryColor;
  border: 2px solid $secondaryColor;
  border-radius: 50px;
  width: 30vw;
  height: 40vh;
  top: 20%;
  left: 40%;
  z-index: 1;
  p {
    font-size: 0.7vw;
  }
}

.popUpHeader {
  display: flex;
}

.name {
  padding: 2rem 1rem 1rem 1rem;
  font-size: 1.5vw;
}

.close {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  background-color: $secondaryColor;
  border: 2px solid $primaryColor;
  color: $primaryColor;
}

.targetButton {
  all: unset;
}
.quetzalcoatlus {
  width: 9vw;
  position: absolute;
  top: 20%;
  left: 42%;
  overflow: hidden;

  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.t-rex {
  width: 20vw;
  position: absolute;
  top: 45%;
  left: 60%;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}
.tRexPopUp {
  width: 13vw;
  margin-top: 1rem;
}

.quetzalcoatlusPopUp {
  all: unset;
  width: 11vw;
}

.eggClass {
  width: 2vw;
  height: 4vh;
}

.brain {
  width: 4vw;
  height: 8vh;
}

.info {
  flex: 1;
  border-left: 0.125rem solid $secondaryColor;
  border-right: 0.125rem solid $secondaryColor;
  height: 80%;
  margin-top: 0;
  margin-right: 1.2rem;
  margin-left: 0.6rem;
  padding-left: 0.3rem;
}

.eggClassButton {
  all: unset;
  width: 2vw;
  height: 2vh;
  position: absolute;
  top: 35%;
  left: 12%;
  z-index: 1;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  }
}

@media screen and (min-width: 600px) {
  .message {
    p {
      font-size: 0.9vw;
    }
  }
}

@media screen and (min-width: 1000px) {
  .message {
    p {
      font-size: 1vw;
    }
  }
}
