.horus {
  position: absolute;
  bottom: 5%;
  left: 15%;
  width: 10vw;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    cursor: pointer;
  }
}

.horusPopUp {
  width: 8vw;
  margin: 1rem 9rem 0 7rem;
}
.isis {
  position: absolute;
  bottom: 35%;
  right: 35.8%;
  width: 5vw;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    cursor: pointer;
  }
}
.isisPopUp {
  width: 9.5vw;
  margin: 1rem 10rem 0 7rem;
}
.anubis {
  position: absolute;
  bottom: 14%;
  left: 26.5%;
  width: 10vw;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    cursor: pointer;
  }
}
.anubisPopUp {
  width: 10vw;
  margin: 1rem 10rem 0 7rem;
}
.toutankhamon {
  position: absolute;
  bottom: 27%;
  right: 45.5%;
  width: 8vw;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    cursor: pointer;
  }
}
.toutankhamonPopUp {
  width: 9vw;
  margin: 1rem 5rem 0 5rem;
}
.re {
  position: absolute;
  bottom: 12%;
  right: 25.7%;
  width: 10vw;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    cursor: pointer;
  }
}
.rePopUp {
  width: 9vw;
  margin: 1rem 12rem 0 5rem;
}
