.horus {
  position: absolute;
  bottom: 8%;
  left: 27.5%;
  width: 10vw;
}

.horusPopUp {
  width: 5vw;
  margin-top: 1rem;
  margin-left: 2rem;
}
.isis {
  position: absolute;
  bottom: 35.5%;
  right: 29.2%;
  width: 5vw;
}
.isisPopUp {
  width: 5vw;
  margin-top: 1rem;
  margin-left: 2rem;
}
.anubis {
  position: absolute;
  bottom: 15%;
  left: 38.5%;
  width: 10vw;
}
.anubisPopUp {
  width: 5vw;
  margin-top: 1rem;
  margin-left: 2rem;
}
.toutankhamon {
  position: absolute;
  bottom: 27%;
  right: 36.8%;
  width: 8vw;
}
.toutankhamonPopUp {
  width: 5vw;
  margin-top: 1rem;
  margin-left: 2rem;
}
.re {
  position: absolute;
  bottom: 13%;
  right: 21%;
  width: 10vw;
}
.rePopUp {
  width: 5vw;
  margin-top: 1rem;
  margin-left: 2rem;
}
