@import "../../../variables.scss";

.arthurPendragon {
  width: 3%;
  position: absolute;
  bottom: 40%;
  left: 45%;
  overflow: hidden;

  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.arthurPendragonPopUp {
  width: 10vw;
  margin: 1vh 2vw 0 8vw;
}

.charlemagne {
  width: 7vw;
  position: absolute;
  bottom: 5%;
  left: 32%;
  overflow: hidden;

  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.charlemagnePopUp {
  width: 8vw;
  margin: 1vh 5vw 0 8vw;
}

.clovis {
  width: 5vw;
  position: absolute;
  bottom: 33%;
  left: 25%;
  overflow: hidden;
  transform: rotate(18.9rad);

  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.clovisPopUp {
  width: 10vw;
  margin: 1vh 5vw 0 10vw;
}

.leonardoDaVinci {
  width: 6vw;
  position: absolute;
  bottom: 28%;
  right: 25%;
  overflow: hidden;

  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.leonardoDaVinciPopUp {
  width: 9vw;
  margin: 1vh 4vw 0 7vw;
}

.françois1er {
  width: 4vw;
  position: absolute;
  bottom: 33%;
  left: 29%;
  overflow: hidden;

  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.françois1erPopUp {
  width: 10vw;
  margin: 1vh 5vw 0 8vw;
}

.paintPaletteClass {
  width: 3vw;
}

.paintPaletteClassButton {
  all: unset;
  position: absolute;
  left: 25%;
  top: 25%;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  }
}

.arthurPendragonClass {
  width: 7vw;
}

.arthurPendragonClassButton {
  all: unset;
  position: absolute;
  left: 4%;
  top: 30%;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  }
}

.crownClovisClass {
  width: 2.5vw;
}

.crownClovisClassButton {
  all: unset;
  position: absolute;
  left: 25.7%;
  top: -2%;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  }
}
