@import "../../../variables.scss";

.juliusCaesar {
  width: 8vw;
  position: absolute;
  bottom: 21%;
  left: 24%;
  transform: rotateX(10deg) rotateY(40deg);

  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
    cursor: pointer;
  }
}

.juliusCaesarPopUp {
  width: 10vw;
  margin: 1vh 5vw 0 8vw;
}

.armorClass {
  width: 13vw;
}

.armorClassButton {
  all: unset;
  width: 6vw;
  position: absolute;
  top: 8%;
  left: 30%;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.cicero {
  width: 6vw;
  position: absolute;
  bottom: 23.6%;
  right: 50%;
  overflow: hidden;
  transform: rotate(18.9rad);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.ciceroPopUp {
  width: 12vw;
  margin: 1vh 3vw 0 10vw;
}

.brutus {
  width: 5vw;
  position: absolute;
  bottom: 22%;
  right: 30%;
  overflow: hidden;
  transform: rotateX(10deg) rotateY(40deg);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.brutusPopUp {
  width: 9vw;
  margin: 2vh 5vw 0 10vw;
}

.daggerClass {
  width: 3.5vw;
}

.daggerClassButton {
  all: unset;
  width: 3vw;
  position: absolute;
  left: 17%;
  top: 8%;
  transform: rotate(90deg);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.spartacus {
  width: 7vw;
  position: absolute;
  bottom: 15%;
  right: 35%;
  overflow: hidden;
  transform: rotate(18.9rad);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.spartacusPopUp {
  width: 10vw;
  margin: 1vh 5vw 0 10vw;
}

.chainsClass {
  width: 5vw;
}

.chainsClassButton {
  all: unset;
  width: 3vw;
  position: absolute;
  top: 30%;
  left: 12%;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.pompey {
  width: 4vw;
  position: absolute;
  top: 3.5%;
  right: 19%;
  overflow: hidden;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.pompeyPopUp {
  width: 8vw;
  margin: 1vh 5vw 0 10vw;
}

.vercingetorix {
  width: 12vw;
  position: absolute;
  bottom: 5%;
  left: 32%;
  overflow: hidden;
  transform: rotate(0.2rad);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    cursor: pointer;
  }
}

.vercingetorixPopUp {
  width: 12vw;
  margin: 1vw 5vw 0 5vw;
}
