@import "../../../variables.scss";

.returnChooseLevelPage {
  position: absolute;
  top: 1rem;
  height: 12vh;
  width: 6vw;
  left: 17vw;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.6));
    cursor: pointer;
  }
}
