@import "../../../../variables.scss";
.inventoryPopUp {
  position: absolute;
  left: 30%;
  background-color: $secondaryColor;
  border: 5px solid $optionalColor;
  color: $primaryColor;
  width: 50%;
  height: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  &__closeButton {
    position: relative;
    left: 50%;
    transform: translateX(-200%);
  }
}
