@import "../../../../variables.scss";

.inventoryPopUp {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 30%;
  top: 25%;
  background-image: url(../../../../assets/pictures/ComponentsPics/bagBackground.jpg);
  background-size: contain;
  border: 5px solid $optionalColor;
  color: $primaryColor;
  width: 52vw;
  height: 52%;
  transition: opacity 0.3s;

  &__closeButton {
    background-color: $secondaryColor;
    border: 2px solid $primaryColor;
    color: $primaryColor;
    font-size: 0.7rem;
    width: 3vw;
    height: 5vh;
    cursor: pointer;
  }

  &__show {
    pointer-events: auto;
    border: 10px solid $thirdColor;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: $primaryColor;
    opacity: 1;
    z-index: 1;
  }
}

.headerInventory {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inventoryTitle {
  margin-bottom: 0.6rem;
  margin-left: 5rem;
  color: $secondaryColor;
  font-size: 2vw;
  text-shadow:
    -1px -1px 0 $primaryColor,
    1px -1px 0 $primaryColor,
    -1px 1px 0 $primaryColor,
    1px 1px 0 $primaryColor;
}
.insideBag {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bag {
  width: 10vw;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

.invButton {
  all: unset;
}

.itemsContainer {
  display: flex;
  align-items: center;
  margin-top: 5vh;
  margin-left: 3vw;
}
.eggButton {
  background: none;
  border: none;
}
.eggImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
.toothButton {
  background: none;
  border: none;
}
.toothImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
.clawButton {
  background: none;
  border: none;
}
.clawImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

.swordButton {
  background: none;
  border: none;
}
.swordImgInBag {
  width: 6vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

.penButton {
  background: none;
  border: none;
}
.penImgInBag {
  width: 6vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

.necklaceButton {
  background: none;
  border: none;
}
.necklaceImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

.PopUpInBag {
  color: $secondaryColor;
  background-color: $primaryColor;
  border: 2px solid $secondaryColor;
  width: 10vw;
}

.scepterButton {
  background: none;
  border: none;
}
.scepterImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
.tabletButton {
  background: none;
  border: none;
}
.tabletImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
.papyrusButton {
  background: none;
  border: none;
}
.papyrusImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

.armorButton {
  background: none;
  border: none;
}
.armorImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
.chainsButton {
  background: none;
  border: none;
}
.chainsImgInBag {
  width: 4vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
.daggerButton {
  background: none;
  border: none;
}
.daggerImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

@media (min-width: 900px) {
  .inventoryPopUp {
    &__closeButton {
      height: 4vh;
      width: 2vw;
    }
  }
  .inventoryTitle {
    margin-bottom: 0.6rem;
    margin-left: 15rem;
  }
}
