@import "../../../../variables.scss";

.inventoryPopUp {
  opacity: 0;
  position: absolute;
  left: 30%;
  top: 25%;
  background-image: url(../../../../assets/pictures/ComponentsPics/bagBackground.jpg);
  background-size: contain;
  background-color: $secondaryColor;
  border: 5px solid $optionalColor;
  color: $primaryColor;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 1rem;
  transition: opacity 0.3s;

  &__closeButton {
    position: relative;
    left: 50%;
    transform: translateX(-200%);
  }

  &__show {
    border: 10px solid $thirdColor;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: $primaryColor;
    opacity: 1;
    z-index: 1;
  }
}

.insideBag {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bag {
  width: 10vw;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

.invButton {
  all: unset;
}

.inventoryPopUp__closeButton {
  background-color: $secondaryColor;
  border: 2px solid $primaryColor;
  color: $primaryColor;
}
.itemsContainer {
  display: flex;
  align-items: center;
  margin-top: 5vh;
  margin-left: 3vw;
}
.eggButton {
  background: none;
  border: none;
}
.eggImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
.toothButton {
  background: none;
  border: none;
}
.toothImgInBag {
  width: 3vw;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}

.PopUpInBag {
  color: $secondaryColor;
  background-color: $primaryColor;
  border: 2px solid $secondaryColor;
  width: 10vw;
}
