@import url("https://fonts.googleapis.com/css2?family=Iceberg&display=swap");

$fontFamily: "Iceberg";
$secondaryColor: #2b160f;
$primaryColor: #e7d7bb;
$thirdColor: #6a3c29;
$optionalColor: #957050;
$minPicWidth: 5vw;
$maxPicWidth: 80vw;
