@import "../../variables.scss";

.egyptTheme {
  background-image: url("../../assets/pictures/Egypt/EgyptTheme.png");
  background-size: 100% 100%;
  background-position: bottom;
}
.tabletClass {
  width: 3vw;
  height: 5vh;
}
.tabletClassButton {
  all: unset;
  width: 2.5vw;
  height: 2.5vh;
  position: absolute;
  top: 8%;
  left: 26.5%;
  z-index: 1;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}
.sceptreClass {
  width: 4vw;
  height: 8vh;
}

.sceptreClassButton {
  all: unset;
  width: 2.5vw;
  height: 2.5vh;
  position: absolute;
  top: 38%;
  left: 4%;
  z-index: 1;
  transform: rotate(-45deg);
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  }
}

.papyrusClass {
  width: 4vw;
  height: 8vh;
}

.papyrusClassbutton {
  all: unset;
  width: 2.5vw;
  height: 2.5vh;
  position: absolute;
  top: 46.5%;
  left: 15%;
  z-index: 1;
  transform: rotate(7deg);
  cursor: pointer;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  }
}
