main {
  display: flex;
}

h1 {
  margin-inline: auto;
}

.JurassiqueTheme {
  height: 100vh;
  width: 100vw;
}

.TurnYourPhone {
  position: absolute;
  width: 50%;
  opacity: 80%;
  height: 40vw;
  width: auto;
  left: 40%;
  top: 30%;
}

@media screen and (min-width: 660px) {
  .TurnYourPhone {
    display: none;
  }
}
