@import "../../variables.scss";
main {
  display: flex;
}

h1 {
  margin-inline: auto;
}

.jurassiqueTheme {
  height: 100vh;
  width: 100vw;
}

.CloseButton {
  position: relative;
}

.CloseButtonLevelPage {
  position: absolute;
  right: 0;
  margin-top: 20px;
  border-radius: 200px;
  border: 3px solid $primaryColor;
  background-color: $secondaryColor;
  height: 2rem;
  width: 2rem;
  align-items: center;
  color: $primaryColor;
  font-size: 1rem;
  margin-right: 2rem;
  &:hover {
    opacity: 0;
  }
}

.HoverText {
  position: absolute;
  right: 0;
  margin-top: 20px;
  border-radius: 200px;
  border: 3px solid $primaryColor;
  background-color: $secondaryColor;
  height: 2rem;
  width: 8rem;
  align-items: center;
  color: $primaryColor;
  font-size: 1rem;
  margin-right: 2rem;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
