@import "../../variables.scss";

.endPageContainer {
  background-image: url("../../assets/pictures/ComponentsPics/ViktorHome.png");
  background-size: 100% 100%;
  height: 85vh;
}

.endarticle {
  position: absolute;
  background-color: $primaryColor;
  border: 2px solid $secondaryColor;
  border-radius: 50px;
  padding: 2vw;
  top: 30%;
  left: 20%;
  transform: (-50%, -50%);
  font-size: 1vw;
}

.shelf {
  position: absolute;
  width: 45vw;
  height: 65vh;
  right: 2%;
  bottom: 6%;
  filter: brightness(0.4);
  transform: rotateY(-10deg);
}

.visibleSword {
  position: absolute;
  width: 15vw;
  right: 4%;
  bottom: 17%;
  z-index: 1;
  transform: rotate(80deg);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenSword {
  opacity: 0%;
}

.visiblePen {
  position: absolute;
  width: 3vw;
  right: 23%;
  bottom: 25%;
  z-index: 1;
  transform: rotate(45deg);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenPen {
  opacity: 0%;
}

.visibleNecklace {
  position: absolute;
  width: 2.5vw;
  right: 17%;
  bottom: 25%;
  z-index: 1;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenNecklace {
  opacity: 0%;
}

.visibleTooth {
  position: absolute;
  width: 4vw;
  right: 23%;
  bottom: 34%;
  z-index: 1;
  transform: rotate(0.8rad);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenTooth {
  opacity: 0%;
}

.visibleClaw {
  position: absolute;
  width: 3.5vw;
  right: 25%;
  bottom: 48%;
  z-index: 1;
  transform: rotate(0.9rad);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenClaw {
  opacity: 0%;
}

.visibleEgg {
  position: absolute;
  width: 3vw;
  right: 33%;
  bottom: 46%;
  z-index: 1;
  transform: rotate(90deg);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
    filter: brightness(0.4);
  }
}

.hiddenEgg {
  opacity: 0%;
}

.visibleTablet {
  position: absolute;
  width: 2.5vw;
  right: 17%;
  bottom: 34%;
  z-index: 1;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenTablet {
  opacity: 0%;
}

.visibleScepter {
  position: absolute;
  width: 2.5vw;
  right: 33%;
  bottom: 53.5%;
  z-index: 1;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenScepter {
  opacity: 0%;
}

.visiblePapyrus {
  position: absolute;
  width: 2vw;
  right: 28%;
  bottom: 28%;
  z-index: 1;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenPapyrus {
  opacity: 0%;
}

.visibleChains {
  position: absolute;
  width: 2.5vw;
  right: 32%;
  bottom: 30%;
  z-index: 1;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenChains {
  opacity: 0%;
}

.visibleArmor {
  position: absolute;
  width: 28vw;
  right: -10%;
  bottom: 2%;
  z-index: 1;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenArmor {
  opacity: 0%;
}

.visibleDagger {
  position: absolute;
  width: 2vw;
  right: 32%;
  bottom: 35%;
  z-index: 1;
  transform: rotate(45deg);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenDagger {
  opacity: 0%;
}

.restartgame {
  position: absolute;
  border: 3px solid $primaryColor;
  top: 4vh;
  right: 0.5vw;
  border-radius: 200px;
  background-color: $secondaryColor;
  width: 3vw;
  height: 5vh;
  text-align: center;
  text-decoration: none;
  color: $primaryColor;
  font-size: 1.5vw;
  cursor: pointer;
  padding-top: 5px;
}

.visibleCrown {
  position: absolute;
  width: 3vw;
  right: 27.5%;
  bottom: 35.5%;
  z-index: 1;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenCrown {
  opacity: 0%;
}

.visiblePallet {
  position: absolute;
  width: 2vw;
  right: 35%;
  bottom: 31%;
  z-index: 1;
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenPallet {
  opacity: 0%;
}
.visibleExcalibur {
  position: absolute;
  width: 6vw;
  right: 38.5%;
  bottom: 15%;
  z-index: 1;
  transform: scaleX(-1);
  &:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
  }
}

.hiddenExcalibur {
  opacity: 0%;
}
