@import "../../variables.scss";

.cardEraContainer {
  display: flex;
  width: 100vw;
  height: 100vh;

  &__playButton {
    width: 12vw;
    height: 9vh;
    margin-bottom: 3rem;
  }
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $primaryColor;
  border-inline: 1px solid $primaryColor;
  background-size: cover;
  width: 20vw;
  height: 100vh;

  &1 {
    background-image: url(../../assets/pictures/ChooseLevelPagePics/Jurassique.png);
  }

  &2 {
    background-image: url(../../assets/pictures/ChooseLevelPagePics/Romain.png);
  }

  &3 {
    background-image: url(../../assets/pictures/ChooseLevelPagePics/Egypte.png);
  }

  &4 {
    background-image: url(../../assets/pictures/ChooseLevelPagePics/Moderne.png);
  }

  &5 {
    background-image: url(../../assets/pictures/ChooseLevelPagePics/Moderne.png);
  }

  & h2 {
    font-size: 2vw;
    margin-top: 3rem;
    text-shadow:
      -2px -2px 0 $secondaryColor,
      2px -2px 0 $secondaryColor,
      -2px 2px 0 $secondaryColor,
      2px 2px 0 $secondaryColor;
    color: $primaryColor;
  }

  & .cardEraContainer__levelDescription {
    text-shadow:
      -1px -1px 0 $secondaryColor,
      1px -1px 0 $secondaryColor,
      -1px 1px 0 $secondaryColor,
      1px 1px 0 $secondaryColor;
    color: $primaryColor;
    text-align: center;
    width: 90%;
    opacity: 0;
    transition: opacity 3s;
    font-size: 0.1rem;
  }

  & .cardEraContainer__playButton {
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
  }

  &:hover {
    flex: 3;
    width: $maxPicWidth;
    filter: brightness(1.3);
    transition-duration: 0.4s;

    .cardEraContainer__playButton {
      opacity: 1;
    }

    .cardEraContainer__levelDescription {
      opacity: 1;
      font-size: 1rem;
    }
  }

  &:not(:hover) {
    flex: 1 6%;
    width: $minPicWidth;
    filter: brightness(0.5);

    .cardEraContainer__levelDescription {
      transition: opacity 0.5s;
    }
  }
}

.playDevice {
  all: unset;
}

.closeButtonChooseLevelPage {
  position: absolute;
  top: 2rem;
  border-radius: 200px;
  border: 3px solid $primaryColor;
  background-color: $secondaryColor;
  height: 1rem;
  width: 1rem;
  font-size: 0.7rem;
  align-items: center;
  color: $primaryColor;
  font-size: 0.8rem;
  right: 2rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 940px) {
  .closeButtonChooseLevelPage {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
  }
}

@media (orientation: landscape) {
  .cardEraContainer__playButton {
    margin-bottom: 1.5rem;
  }
}
