@import "../../variables.scss";

.cardContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  &__playButton {
    width: 12vw;
    height: 9vh;
    margin: 3rem;
  }
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $primaryColor;
  border-inline: 1px solid $primaryColor;
  background-size: cover;
  width: 20vw;
  &CRÉTACÉ {
    background-image: url(../../assets/pictures/Jurassique.png);
  }
  &ROMAIN {
    background-image: url(../../assets/pictures/Romain.png);
  }
  &EGYPTE {
    background-image: url(../../assets/pictures/Egypte.png);
  }
  &MOYEN-AGE {
    background-image: url(../../assets/pictures/Moyen-Age.png);
  }
  &MODERNE {
    background-image: url(../../assets/pictures/Moderne.png);
  }
  & h2 {
    margin-top: 3rem;
    text-shadow:
      -2px -2px 0 $secondaryColor,
      2px -2px 0 $secondaryColor,
      -2px 2px 0 $secondaryColor,
      2px 2px 0 $secondaryColor;
    color: $primaryColor;
  }
  & .cardContainer__levelDescription {
    text-shadow:
      -1px -1px 0 $secondaryColor,
      1px -1px 0 $secondaryColor,
      -1px 1px 0 $secondaryColor,
      1px 1px 0 $secondaryColor;
    color: $primaryColor;
    text-align: center;
    width: 90%;
    opacity: 0;
    transition: opacity 3s;
  }
  & .cardContainer__playButton {
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
  }
  &:hover {
    flex: 3;
    width: $maxPicWidth;
    filter: brightness(1.3);
    transition-duration: 0.4s;
    .cardContainer__playButton {
      opacity: 1;
    }
    .cardContainer__levelDescription {
      opacity: 1;
    }
  }
  &:not(:hover) {
    flex: 1 5%;
    width: $minPicWidth;
    filter: brightness(0.5);
    .cardContainer__levelDescription {
      transition: opacity 0.5s;
    }
  }
}
