@import "../../variables.scss";
.cardContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  &__playButton {
    margin: 3rem;
    background-color: $primaryColor;
    font-size: 1.3rem;
    font-weight: bold;
    width: 10vw;
    height: 6vh;
    border-radius: 10% 30% 50% 70%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $primaryColor;
  border-inline: 1px solid $primaryColor;
  background-size: cover;
  width: 20vw;
  &1 {
    background-image: url(../../assets/pictures/Jurassique.png);
  }
  &2 {
    background-image: url(../../assets/pictures/Romain.png);
  }
  &3 {
    background-image: url(../../assets/pictures/Egypte.png);
  }
  &4 {
    background-image: url(../../assets/pictures/Moyen-Age.png);
  }
  &5 {
    background-image: url(../../assets/pictures/Moderne.png);
  }
  & h2 {
    margin-top: 3rem;
    text-shadow:
      -2px -2px 0 $secondaryColor,
      2px -2px 0 $secondaryColor,
      -2px 2px 0 $secondaryColor,
      2px 2px 0 $secondaryColor;
    color: $primaryColor;
  }
}

.CloseButtonChooseLevelPage {
  position: absolute;
  right: 0;
  margin-top: 20px;
  border-radius: 200px;
  border: 3px solid $primaryColor;
  background-color: $secondaryColor;
  height: 2rem;
  width: 2rem;
  align-items: center;
  color: $primaryColor;
  font-size: 1rem;
  margin-right: 2rem;
  top: 0;
  cursor: pointer;
}
